@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
nav{
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav .navigation{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .navigation .logo a{
  font-weight: 500;
  font-size: 38px;
  color: #362ae2;
  text-align:left ;
}
nav.sticky{
  background: #c7e24d;
  padding: 13px 0;
}
nav.sticky .navigation .logo a{
  color: rgb(90, 33, 33);
}
nav .navigation .menu{
  display: flex;
  position: relative;

  
}
nav .navigation .menu li{
  list-style: none;
  margin: 0 8px;
  
}
.navigation .menu a{
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}
.navigation .menu a:hover{
  color: #4070f4;
}
nav.sticky .menu a{
  color:rgb(90, 33, 33);
}
nav.sticky .menu a:hover{
  color: #0E2431;
}
.navigation .media-icons a{
  color: #4070f4;
  font-size: 18px;
  margin: 0 6px;
}
nav.sticky .media-icons a{
  color: rgb(90, 33, 33);
}

nav .menu-btn,
.navigation .menu {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}
nav .menu-btn{
  color: #4070f4;
}
nav.sticky .menu-btn{
  color: #FFF;
}
.navigation .menu .menu-btn{
  color: #fff;
}

.home{
  background-color: aquamarine;
  height: 100vh;
  width: 100%;
  background: url("https://github.com/ishitasachan02/portfolio.github.io/blob/main/Images/myphoto.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
.home .home-content{
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text-one{
  font-size: 45px;
  color: #0E2431;
}
.home .text-two{
  color: #0E2431;
  font-size: 100px;
  font-weight: 600;
  margin-right: -20px;
}
section{
  padding-top: 20px;
}
section .content{
  width: 80%;
  margin: 42px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
 padding-top:5px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 42px;
}
section .title span{
 text-align: center;
  color: #0E2431;
  font-size: 42px;
  font-weight: 600;
  position: relative;
  padding-bottom: 4px;

}

section .title span{
  content: '';
  position: relative;
  height: 2px;
  width: 100%;
  background: #4070f4;
  left: 0;
  bottom: 0;
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #4070f4;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #4070f4;
  background-color: #fff;
  color: #4070f4;
}


@media (max-width: 1190px) {
  section .content{
    width: 85%;
  }
}
@media (max-width: 1000px) {
  .about .about-details{
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right{
    width: 90%;
    margin: 40px 0;
  }
   .boxes .box{
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 900px) {
  .about .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 750px) {
  nav .navigation{
    width: 90%;
  }
  nav .navigation .menu{
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navigation.active .menu{
    left: 0;
  }
  @media (max-width: 500px){
    .home .text-two{
      font-size: 55px;
    }
    .home .text-three{
      font-size: 33px;
    }
    .skills-details .boxes .per{
      font-size: 50px;
      color: #4070f4;
    }
  }
  
  nav .navigation .menu a{
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover{
    color: #4070f4;
  }
  nav .navigation .media-icons{
    display: none;
  }
  nav .menu-btn,
  .navigation .menu {
    display: block;
  }
  .home .text-two{
    font-size: 65px;
  }
  .home .text-three{
    font-size: 35px;
  }
  .skills .skills-details{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text{
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes{
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .boxes .box{
    margin: 20px 0;
    width: 100%;
  }
  .contact .text{
    width: 100%;
}
 .skills{
  background: #F0F8FF;
}
.skills .content{
  padding: 40px 0;
}
.skills .skills-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skills-details .text{
  width: 50%;
}
.skills-details p{
  color: #0E2431;
  text-align: justify;
}
.skills .skills-details .experience{
 display: flex;
 align-items: center;
 margin: 0 10px;
}
.skills-details .experience .num{
 color: #0E2431;
 font-size: 80px;
}
.skills-details .experience .exp{
 color: #0E2431;
 margin-left: 20px;
 font-size: 18px;
 font-weight: 500;
 margin: 0 6px;
}
.skills-details .boxes{
 width: 45%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
.skills-details .box{
 width: calc(100% / 2 - 20px);
 margin: 20px 0;
}
.skills-details .boxes .topic{
 font-size: 40px;
 color: #1640b4;
}
.skills-details .boxes .per{
 font-size: 20px;
 color: #1640b4;
}
}

.contact{
  background: #F0F8FF;
}
.contact .content{
  margin: 0 auto;
  padding: 30px 0;
}
.contact .text{
  width: 80%;
  text-align: center;
  margin: auto;
}


footer{
  background: #4070f4;
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
footer .text span{
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}
footer .text span a{
  font-weight: 500;
  color: #FFF;
}
footer .text span a:hover{
  text-decoration: underline;
}
